[Desktop Entry]
Name=XPDynamicWallpaper
Name[ar]=XPDynamicWallpaper
Name[ca]=XPDynamicWallpaper
Name[ca@valencia]=XPDynamicWallpaper
Name[cs]=XPDynamicWallpaper
Name[da]=XPDynamicWallpaper
Name[de]=XPDynamicWallpaper
Name[en_GB]=XPDynamicWallpaper
Name[es]=XPDynamicWallpaper
Name[et]=XPDynamicWallpaper
Name[eu]=XPDynamicWallpaper
Name[fi]=XPDynamicWallpaper
Name[fr]=XPDynamicWallpaper
Name[gd]=XPDynamicWallpaper
Name[gl]=XPDynamicWallpaper
Name[hu]=XPDynamicWallpaper
Name[ia]=XPDynamicWallpaper
Name[id]=XPDynamicWallpaper
Name[it]=XPDynamicWallpaper
Name[ko]=XPDynamicWallpaper
Name[lt]=XPDynamicWallpaper
Name[nb]=XPDynamicWallpaper
Name[nl]=XPDynamicWallpaper
Name[nn]=XPDynamicWallpaper
Name[pl]=XPDynamicWallpaper
Name[pt]=XPDynamicWallpaper
Name[pt_BR]=XPDynamicWallpaper
Name[ru]=XPDynamicWallpaper
Name[sk]=XPDynamicWallpaper
Name[sl]=XPDynamicWallpaper
Name[sr]=XPDynamicWallpaper
Name[sr@ijekavian]=XPDynamicWallpaper
Name[sr@ijekavianlatin]=XPDynamicWallpaper
Name[sr@latin]=XPDynamicWallpaper
Name[sv]=XPDynamicWallpaper
Name[tg]=XPDynamicWallpaper
Name[tr]=XPDynamicWallpaper
Name[uk]=XPDynamicWallpaper
Name[x-test]=xxXPDynamicWallpaperxx
Name[zh_CN]=XPDynamicWallpaper
Name[zh_TW]=XPDynamicWallpaper
Comment=

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=AERegeneratel38
X-KDE-PluginInfo-Email=mukunda.adhikari@outlook.com
X-KDE-PluginInfo-Name=org.kde.plasma.xpdynamicwallpaper
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
